@model Proiect.Models.ApplicationUser

<form enctype="multipart/form-data" asp-controller="Accounts" asp-action="Edit" asp-route-id="@Model.Id" method="post">
	@* TODO: de pus reguli (in model sau aici) pentru atributele de mai jos *@

	@Html.Label("LastName", "Nume")
	@Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
	@Html.ValidationMessageFor(m => m.LastName, null, new { @class = "text-danger" })
	<br />

	@Html.Label("FirstName", "Prenume")
	@Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
	@Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
	<br />

	@Html.Label("AboutMe", "Sectiunea \"Despre mine\"")
	@Html.TextArea("AboutMe", null, new { @class = "summernote" })
	@Html.ValidationMessageFor(m => m.AboutMe, null, new { @class = "text-danger" })
	<br />

	@* TODO: nu e posibil sa pun default value pt input type="file" *@
	@Html.Label("UserImage", "Poza de profil")
	<input class="form-control" type="file" accept="image/png, image/jpeg" name="UserImage" />
	<br />

	<input class="btn btn-success" type="submit" value="Upload" />
	<br />

	@Html.ValidationSummary(false, "", new { @class = "text-danger" })
</form>

