@model Proiect.Models.ApplicationUser

<h1>View profile - @Model.Email</h1>
<br />

<div class="container">
    <div class="d-flex flex-column">
        <div class="d-flex">
            <div class="d-flex flex-column">
                @if (Model.Image != null && Model.Image != "")
                {
                    <img src="@Model.Image" alt="User Image" style="width:240px;">
                }
                else
                {
                    <i class="bi bi-question-square h1" style="margin: 0px;"></i>
                }
            </div>
            <div style="margin-left: 20px;">
                <div><i class="bi bi-person-lines-fill"></i> Nume: @Model.LastName</div>
                <div><i class="bi bi-person-lines-fill"></i> Prenume: @Model.FirstName</div>
                <div><i class="bi bi-calendar4-week"></i> Data inregistrare: @Model.Date</div>
                <div style="margin-top: 10px; margin-bottom: 10px;">
                    <i class="bi bi-person"></i> Rol utilizator
                    <span class="rounded-pill bg-secondary mr-2 px-4 py-2 text-white">@ViewBag.Role</span>
                </div>

                @if (Model.Id == ViewBag.CurrentUser)
                {
                    <div>
                        <a class="btn btn-outline-primary" href="/Accounts/Edit/@Model.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>
                    </div>
                    <br />

                    <form enctype="multipart/form-data" asp-controller="Accounts" asp-action="UploadImage" asp-route-id="@Model.Id" method="post">
                        @Html.Label("UserImage", "Schimba poza de profil")
                        <div class="d-flex">
                            <input class="form-control" type="file" accept="image/png, image/jpeg" name="UserImage" />
                            <button class="btn btn-primary" type="submit">Incarca</button>
                        </div>
                    </form>
                }
            </div>
        </div>
        <br />

        <h4>Statistici</h4>
        <div class="card border-dark mb-3">
            <div class="card-body d-flex justify-content-between">
                <div class="d-flex flex-column align-items-center">
                    <div>Discutii</div>
                    <div style="font-size: 30px;">
                        @if (Model.Discussions != null)
                        {
                            <div>@Model.Discussions.Count() <i class="bi bi-patch-question-fill"></i></div>
                        }
                        else
                        {
                            <div>0 <i class="bi bi-patch-question-fill"></i></div>
                        }
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div>Raspunsuri</div>
                    <div style="font-size: 30px;">
                        @if (Model.Discussions != null)
                        {
                            <div>@Model.Answers.Count() <i class="bi bi-chat-fill"></i></div>
                        }
                        else
                        {
                            <div>0 <i class="bi bi-chat-fill"></i></div>
                        }
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    @* TODO *@
                    <div>Up votes</div>
                    <div style="font-size: 30px;">@ViewBag.votesTotal <i class="bi bi-arrow-up-circle-fill"></i></div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    @* TODO *@
                    <div>Bife</div>
                    <div style="font-size: 30px;">0 <i class="bi bi-award-fill"></i></div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div>Comentarii</div>
                    <div style="font-size: 30px;">
                        @if (Model.Comments != null)
                        {
                            <div>@Model.Comments.Count() <i class="bi bi-chat-text-fill"></i></div>
                        }
                        else
                        {
                            <div>0 <i class="bi bi-chat-text-fill"></i></div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">Despre mine</h3>
                <p class="card-text">
                    @Html.Raw(Model.AboutMe)
                </p>
            </div>
        </div>
        <br />
    </div>
</div>

