@model Proiect.Models.ApplicationUser

<h1>View profile</h1>

@* TODO: are voie administratorul sa editeze profilul altor utilizatori? - NU? *@
@if (Model.Id == ViewBag.CurrentUser || ViewBag.IsAdmin)
{
    <div class="d-flex align-items-center">
        <div>
            <a class="btn btn-outline-primary" href="/Accounts/Edit/@Model.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>
        </div>
    </div>
}

<h2>Statistici</h2>

@if (Model.Discussions != null)
{
    <div>Intrebari: @Model.Discussions.Count()</div>
}
else
{
    <div>Intrebari: 0</div>
}

@if (Model.Discussions != null)
{
    <div>Raspunsuri totale: @Model.Answers.Count()</div>
}
else
{
    <div>Raspunsuri totale: 0</div>
}

@* TODO *@
<div>Raspunsuri cu bifa: TODO</div>
<div>ROL</div>

<div class="container">
    <div class="d-flex flex-column">
        <div class="d-flex">
            <div>
                @if (Model.Image != null && Model.Image != "")
                {
                    <img src="@Model.Image" alt="User Image" style="width:200px;">
                }
                else
                {
                    <i class="bi bi-question-square h1" style="margin: 0px;"></i>
                }
            </div>
            <div style="margin-left: 20px;">
                <div>Nume: @Model.LastName</div>
                <div>Prenume: @Model.FirstName</div>
                <div>Data inregistrare: </div>
            </div>
        </div>
        <div>Statistici</div>
        <div class="card border-dark mb-3">
            <div class="card-body d-flex justify-content-between">
                <div class="d-flex flex-column">    @* TODO: justify content center *@
                    <div>Discutii</div>
                    <div>nr_dis</div>
                </div>
                <div class="d-flex flex-column">    @* TODO: justify content center *@
                    <div>Raspunsuri</div>
                    <div>nr_ans</div>
                </div>
                <div class="d-flex flex-column">    @* TODO: justify content center *@
                    <div>Comentarii</div>
                    <div>nr_comm</div>
                </div>
            </div>
        </div>
        <div>About Section</div>
        <div>Top posts</div>
        <div>3 categorii: All, Discussions, Answers, Comments</div>
    </div>
</div>

