@model Proiect.Models.Discussion

@* cauzeaza conflict cu title din formularul de mai jos
@{
    ViewData["Title"] = "Discussions Edit";
}
*@

<div class="d-flex justify-content-around bg-light rounded-1">
    <a class="btn btn-primary" href="/Categories/Show/@Model.CategoryId">Back to the Category</a>
</div>

<br />
<br />
<br />

<h2 class="bg-light rounded-1">Editing Discussion @Model.Title</h2>

<br />
<br />
<br />

<div class="container mt-5 bg-light rounded-1">
    <div class="row">
        <div class="col-6 offset-3">
            @using (Html.BeginForm(actionName: "Edit", controllerName: "Discussions", routeValues: new { id = Model.Id }))
            {
                @*@Html.HiddenFor(m => m.CategoryId, new { Value = ViewBag.CategoryId}) CategoryId este in ViewBag*@
                @Html.HiddenFor(m => m.CategoryId)

                @Html.Label("Title", "Discussion Title")
                <br />
                @Html.TextBox("Title", null, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger"})
                <br />

                @Html.Label("Content", "Discussion Content")
                <br />
                @Html.TextArea("Content", null, new { @class = "summernote"})
                @Html.ValidationMessage("Content", null, new { @class = "text-danger"})
                <br />

                <br />
                <button class="btn btn-success" type="submit">Submit Changes</button>

                <br />
                <br />
                <br />

                @Html.ValidationSummary(false, "", new { @class = "text-danger"})
            }
        </div>
    </div>
</div>

