@model Proiect.Models.Discussion

@{
    ViewData["Title"] = "Discussions Show";
}

@* Afisarea mesajului de validare *@
@if (ViewBag.Message != null)
{
    <h2 class="@ViewBag.Alert p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

@* Afisare intreabre *@
<h2>@Model.Title</h2>

@* TODO: schimba fontul *@
<div class="d-flex">
    <div class="d-flex" style="margin-right: 50px;">
        <span>Asked</span>
        <div>: @Model.Date</div>
    </div>
    <div class="d-flex" style="margin-right: 50px;">
        <span>Modified</span>
        <div>: ultima data cand a fost editata intrebarea</div>
    </div>
    <div class="d-flex">
        <span>Viewed</span>
        <div>: nr_vizionari</div>
    </div>
</div>

<hr style="height: 5px; background-color: #e7700d; opacity: 0.75;" />

<div class="container">
    <div class="row">
        <div class="col-md-1 d-flex justify-content-center">
            @* TODO: schimba fontul + dimensiunea *@
            <div class="d-inline-flex flex-column">
                <button type="button" class="btn btn-outline-success"><i class="bi bi-arrow-up-square h2"></i></button>
                <div style="margin-top: 10px; margin-bottom: 10px;">nr_voturi</div>
                <button type="button" class="btn btn-outline-danger"><i class="bi bi-arrow-down-circle h2"></i></button>
            </div>
        </div>
        <div class="col">
            @* TODO: schimba fontul *@
            <h3>@Model.Content</h3>
            <br />
            <br />

            <div class="d-flex justify-content-between">
                @if (Model.UserId == ViewBag.CurrentUser || ViewBag.IsAdmin)
                {
                    <div class="d-flex justify-content-end align-items-end">
                        <a class="btn btn-outline-primary" style="border: none; font-size: 15px;" href="/Discussions/Edit?Id=@Model.Id&categoryId=@Model.CategoryId"><i class="bi bi-pencil-square"></i>Editeaza</a>
                        <div>
                            <form method="post" action="/Discussions/Delete/@Model.Id">
                                <button class="btn btn-outline-danger" style="border: none; font-size: 15px;" type="submit"><i class="bi bi-trash"></i>Sterge</button>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <span></span>
                }

                <div class="d-flex flex-column justify-content-center" style="width: 200px; height: 70px;">
                    <div>
                        <small style="font-size: 12px;">a intrebat pe </small>
                        <small style="font-size: 12px;">@Model.Date</small>
                    </div>
                    <div class="d-flex">
                        <div class="d-flex justify-content-center">
                            <i class="bi bi-question-square h1"></i>
                        </div>
                        <div class="flex-grow-1 d-flex flex-column" style="margin-left: 8px;">
                            <small style="font-size: 13px;">@Model.User.UserName</small>
                            <small style="font-size: 13px;">100 raspunsuri 10 bife</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr style="height: 5px; background-color: #e7700d; opacity: 0.75;" />
<br />


@* Nr. raspunsuri + criterii de sortare *@
<div class="d-flex justify-content-between">
    <div>Raspunsuri: nr_raspunsuri_primite</div>
    <div>Sortare: criterii_sortare</div>
</div>
<div>Pagini cu raspunsuri</div>

<br />
<br />

@* Afisare comentarii impreuna cu butoanele de editare si stergere *@
@foreach (var answer in Model.Answers)
{
    <div class="container">
        <div class="row">
            <div class="col-md-1 d-flex justify-content-center">
                @* TODO: schimba fontul + dimensiunea *@
                <div class="d-inline-flex flex-column">
                    <button type="button" class="btn btn-outline-success"><i class="bi bi-arrow-up-square h2"></i></button>
                    <div style="margin-top: 10px; margin-bottom: 10px;">nr_voturi</div>
                    <button type="button" class="btn btn-outline-danger"><i class="bi bi-arrow-down-circle h2"></i></button>
                </div>
                @* TODO: adaauga bifa *@
            </div>

            <div class="col">
                <p>@answer.Content</p>
                <br />

                <div class="d-flex justify-content-between">
                    @if (answer.UserId == ViewBag.CurrentUser || ViewBag.IsAdmin)
                    {
                        <div class="d-flex align-items-center">
                            <div>
                                <a class="btn btn-sm btn-outline-primary" style="border: none; font-size: 14px;" href="Answers/Edit/@answer.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>
                            </div>
                            <div>
                                <form method="post" action="/Answers/Delete/@answer.Id">
                                    <button class="btn btn-sm btn-outline-danger" style="border: none; font-size: 14px;" type="submit"><i class="bi bi-trash"></i>Sterge</button>
                                </form>
                            </div>
                        </div>
                    }
                    else
                    {
                        <span></span>
                    }

                    <div class="d-flex flex-column justify-content-center" style="width: 200px; height: 70px;">
                        <div>
                            <small style="font-size: 12px;">a raspuns pe </small>
                            <small style="font-size: 12px;">@answer.Date</small>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex justify-content-center">
                                <i class="bi bi-question-square h1"></i>
                            </div>
                            <div class="flex-grow-1 d-flex flex-column" style="margin-left: 8px;">
                                <small style="font-size: 13px;">@answer.User.UserName</small>
                                <small style="font-size: 13px;">100 raspunsuri 10 bife</small>
                            </div>
                        </div>
                    </div>
                </div>

                @* Afiseaza comentariile la un raspuns *@
                @foreach (var comment in answer.Comments)
                {
                    <hr style="margin-bottom: 5px; margin-top: 5px;" />
                    <small>@comment.Content</small>

                    <div class="d-flex justify-content-between align-items-center" style="font-size: 14px">
                        <div>
                            <small> - </small>
                            <small><i class="bi bi-person"></i>@comment.User.UserName</small>
                            <small>@comment.Date</small>
                        </div>
                        <div>
                            @if (comment.UserId == ViewBag.CurrentUser || ViewBag.IsAdmin)
                            {
                                <a class="btn btn-sm btn-outline-primary" style="border: none; display: inline-block;" href="Comments/Edit/@comment.Id"><i class="bi bi-pencil-square"></i></a>
                                <form method="post" style="display: inline-block; text-align: right;" action="/Comments/Delete/@comment.Id">
                                    <button class="btn btn-sm btn-outline-danger" style="border: none; align-self: end;" type="submit"><i class="bi bi-trash"></i></button>
                                </form>
                            }
                        </div>
                    </div>
                }

                @* Afisarea formularului in care se poate adauga un comentariu nou *@
                <hr style="margin-bottom: 5px; margin-top: 5px;" />
                <form method="post" action="/Discussions/AddComment/@answer.Id">
                    <input type="hidden" name="AnswerId" value="@answer.Id" />

                    <div class="d-flex">
                        <textarea class="form-control" name="Content" rows="1" placeholder="Adauga comentariul tau..." style="border: none;"></textarea>

                        <div>
                            <button class="btn btn-success" type="submit">Posteaza</button>
                        </div>
                    </div>
                    @if (ViewBag.CheckComment == answer.Id)
                    {
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    }
                </form>
                <hr style="margin-bottom: 5px; margin-top: 5px;" />
            </div>
        </div>
    </div>
    <hr style="margin-bottom: 50px; margin-top: 50px; height: 1px; background-color: #e7700d; opacity: 0.75;" />
}

@* Afisarea formularului in care se poate adauga un raspuns nou *@
<div class="container">
    <h4>Adauga raspunsul tau</h4>
    <form method="post" action="/Discussions/AddAnswer/@Model.Id">
        <input type="hidden" name="DiscussionId" value="@Model.Id" />

        <textarea class="form-control" name="Content"></textarea>
        <br />

        <button class="btn btn-success" type="submit">Posteaza raspunsul tau</button>

        @if (ViewBag.CheckAnswer)
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        }
        <br />
    </form>
</div>


@* TODO: Related questions *@

