@model Proiect.Models.Discussion

@{
    ViewData["Title"] = "Discussions Show";
}

@* Afisarea mesajului de validare *@
@if (ViewBag.Message != null)
{
    <h2 class="@ViewBag.Alert p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<div class="d-flex justify-content-around bg-light rounded-1">
    <a class="btn btn-primary" href="/Categories/Show/@Model.CategoryId">Back to the Category</a>
</div>

<br />
<br />
<br />

@* Afisare intreabre *@
<h2>@Model.Title</h2>

<hr style="height: 5px; background-color: #e7700d; opacity: 0.75;" />

<div class="container">
    <div class="row">
        <div class="col-md-1 d-flex justify-content-center">
            @* TODO: schimba fontul + dimensiunea *@
            <div class="d-inline-flex flex-column">
                <form method="post" action="/Discussions/Upvote/@Model.Id">
                    <button type="submit" class="@(ViewBag.HasVoted == 1 ? "btn btn-success" : "btn btn-outline-success")" onclick="storeScrollPosition();">
                        <i class="bi bi-arrow-up-square h2"></i>
                    </button>
                </form>
                <div style="text-align: center;margin-top: 10px; margin-bottom: 10px;">@Model.NumberVotes</div>
                <form method="post" action="/Discussions/Downvote/@Model.Id">
                    <button type="submit" class="@(ViewBag.HasVoted == 2? "btn btn-danger" : "btn btn-outline-danger")" onclick="storeScrollPosition();">
                        <i class="bi bi-arrow-down-square h2"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="col">
            <h3>@Html.Raw(Model.Content)</h3>
            <br />
            <br />

            <div class="d-flex justify-content-between">
                @if (Model.UserId == ViewBag.CurrentUser || ViewBag.IsAdmin)
                {
                    <div class="d-flex justify-content-end align-items-end">
                        <a class="btn btn-outline-primary" style="border: none; font-size: 15px;" href="/Discussions/Edit/@Model.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>
                        <div>
                            <form method="post" action="/Discussions/Delete/@Model.Id">
                                <button class="btn btn-outline-danger" style="border: none; font-size: 15px;" type="submit"><i class="bi bi-trash"></i>Sterge</button>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <span></span>
                }

                <div class="d-flex flex-column justify-content-center" style="width: 200px; height: 70px;">
                    <div>
                        <small style="font-size: 12px; color: #A49C90;">a intrebat pe </small>
                        <small style="font-size: 12px; color: #A49C90;">@Model.Date</small>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        @if (Model.User.Image != null && Model.User.Image != "")
                        {
                            <a asp-area="" asp-controller="Accounts" asp-action="Show" asp-route-id="@Model.UserId">
                                <img src="@Model.User.Image" alt="User Image" style="width:40px; height:40px; border-radius: 10%;">
                            </a>
                        }
                        else
                        {
                            <i class="bi bi-question-square h1" style="margin: 0px;"></i>
                        }
                        <div class="flex-grow-1 d-flex flex-column" style="margin-left: 8px;">
                            <a style="text-decoration:none;" asp-area="" asp-controller="Accounts" asp-action="Show" asp-route-id="@Model.UserId">
                                <small style="font-size: 13px; text-decoration:none;">@Model.User.UserName</small>
                            </a>
                            <small style="font-size: 13px; color: #A49C90;">100 raspunsuri 10 bife</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr style="height: 5px; background-color: #e7700d; opacity: 0.75;" />
<br />


@* Nr. raspunsuri + criterii de sortare *@
<div class="d-flex justify-content-between">
    <div>Raspunsuri: @Model.Answers.Count()</div>
    <div>
        <a class="page-link"
           href="/Discussions/Show/@(Model.Id)?sortType=1">
            Sortare: dupa voturi
        </a>
        <a class="page-link"
           href="/Discussions/Show/@(Model.Id)?sortType=2">
            Sortare: dupa nr. comentarii
        </a>
    </div>
</div>
<div>Pagini cu raspunsuri</div>

<br />
<br />

@* Afisare raspunsuri impreuna cu butoanele de editare si stergere *@
@foreach (var answer in Model.Answers) {
    <div class="container">
        <div class="row">
            <div class="col-md-1 d-flex justify-content-center">
                <div class="d-inline-flex flex-column">
                    <form method="post" action="/Answers/UpvoteAnswer/@answer.Id">
                        <button type="submit" class="@(answer.userVoted == 1 ? "btn btn-success" : "btn btn-outline-success")" onclick="storeScrollPosition();">
                            <i class="bi bi-arrow-up-square h2"></i>
                        </button>
                    </form>
                    <div style="text-align: center; margin-top: 10px; margin-bottom: 10px;">@answer.ANumberVotes</div>
                    <form method="post" action="/Answers/DownvoteAnswer/@answer.Id">
                        <button type="submit" class="@(answer.userVoted == 2? "btn btn-danger" : "btn btn-outline-danger")" onclick="storeScrollPosition();">
                            <i class="bi bi-arrow-down-square h2"></i>
                        </button>
                    </form>
                </div>
                @* TODO: adauga bifa *@
            </div>

            <div class="col">
                @* Editeaza raspunsul *@
                @if (ViewBag.EditAnswerID != null && ViewBag.EditAnswerID == answer.Id)
                {
                    <form method="post" action="/Answers/Edit/@answer.Id">
                        <label>Modifica raspunsul tau:</label>
                        <br />
                        @Html.TextArea("Content", answer.Content, new { @class = "summernote" })
                        <br />

                        <div class="d-flex align-items-center">
                            <button type="submit" class="btn btn-primary" onclick="storeScrollPosition();">Salveaza modificarile</button>
                            <a class="btn btn-danger" style="margin-left: 5px;" href="/Discussions/Show/@Model.Id">Anuleaza</a>
                        </div>
                    </form>
                }
                else @* Afiseaza raspunsul *@
                {
                    @if (answer.hasAward) {
                        <i class="bi bi-award-fill" style="color: gold; font-size: 24px;"></i>
                    }

                    if (!answer.IsCode) {
                        <p>@Html.Raw(answer.Content)</p>
                        <br />
                    } else {
                        <form method="post" action="/Codespaces/Show/@answer.Id">
                            <button type="submit" class="btn btn-primary" style="border: none; font-size: 15px;" onclick="storeScrollPosition();">
                                <i class="bi bi-play-fill"></i> Run Code
                            </button>
                        </form>
                    }

                    <div class="d-flex justify-content-between">
                        @if (answer.UserId == ViewBag.CurrentUser || ViewBag.IsAdmin)
                        {

                            if (!answer.IsCode)
                            {
                                <div class="d-flex align-items-center">
                                    <div>
                                        <a class="btn btn-sm btn-outline-primary" style="border: none; font-size: 14px;" href="/Answers/Edit/@answer.Id" onclick="storeScrollPosition();"><i class="bi bi-pencil-square"></i>Editeaza</a>
                                    </div>
                                    <div>
                                        <form method="post" action="/Answers/Delete/@answer.Id">
                                            <button class="btn btn-sm btn-outline-danger" style="border: none; font-size: 14px;" type="submit"><i class="bi bi-trash"></i>Sterge</button>
                                        </form>
                                    </div>
                                </div>
                            } else {
                                <div class="d-flex align-items-center">
                                    <div>
                                        <a class="btn btn-sm btn-outline-primary" style="border: none; font-size: 14px;" href="/Codespaces/Edit/@answer.Id" onclick="storeScrollPosition();"><i class="bi bi-pencil-square"></i>Editeaza</a>
                                    </div>
                                    <div>
                                        <form method="post" action="/Answers/Delete/@answer.Id">
                                            <button class="btn btn-sm btn-outline-danger" style="border: none; font-size: 14px;" type="submit"><i class="bi bi-trash"></i>Sterge</button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <span></span>
                        }

                        <div class="d-flex align-items-center">
                            @if (Model.didAward == null || Model.didAward == false) {
                                @if ((Model.UserId == ViewBag.CurrentUser && answer.UserId != ViewBag.CurrentUser) || ViewBag.IsAdmin) {
                                    <div>
                                        <form method="post" action="/Answers/GiveAward/@answer.Id">
                                            <button type="submit" class="btn btn-warning" style="border: none; font-size: 15px;" onclick="storeScrollPosition();">
                                                <i class="bi bi-award-fill"></i> Give award
                                            </button>
                                        </form>
                                    </div>
                                }
                            }

                            @if (ViewBag.isAdmin && @answer.hasAward) {
                                <div>
                                    <form method="post" action="/Answers/RemoveAward/@answer.Id">
                                        <button type="submit" class="btn btn-danger" style="border: none; font-size: 15px;" onclick="storeScrollPosition();">
                                            <i class="bi bi-award-fill"></i> Remove award
                                        </button>
                                    </form>
                                </div>
                            }
                        </div>

                        <div class="d-flex flex-column justify-content-center" style="width: 200px; height: 70px;">
                            <div>
                                <small style="font-size: 12px; color: #A49C90;">a raspuns pe </small>
                                <small style="font-size: 12px; color: #A49C90;">@answer.Date</small>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                @if (answer.User.Image != null && answer.User.Image != "")
                                {
                                    <a asp-area="" asp-controller="Accounts" asp-action="Show" asp-route-id="@answer.UserId">
                                        <img src="@answer.User.Image" alt="User Image" style="width:40px; height:40px; border-radius: 10%;">
                                    </a>
                                }
                                else
                                {
                                    <i class="bi bi-question-square h1" style="margin: 0px;"></i>
                                }
                                <div class="flex-grow-1 d-flex flex-column" style="margin-left: 8px;">
                                    <a style="text-decoration:none;" asp-area="" asp-controller="Accounts" asp-action="Show" asp-route-id="@answer.UserId">
                                        <small style="font-size: 13px;">@answer.User.UserName</small>
                                    </a>
                                    <small style="font-size: 13px; color: #A49C90;">100 raspunsuri 10 bife</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @* Afiseaza comentariile la un raspuns impreuna cu butoanele de editare si stergere *@
                @foreach (var comment in answer.Comments)
                {
                    <hr style="margin-bottom: 5px; margin-top: 5px;" />

                    @* Editeaza comentariul *@
                    @if (ViewBag.EditCommentID != null && ViewBag.EditCommentID == comment.Id)
                    {
                        <form method="post" action="/Comments/Edit/@comment.Id">
                            <label>Modifica Comentariul tau:</label>
                            <br />
                            <textarea class="form-control" name="Content">@comment.Content</textarea>
                            <br />

                            <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-primary" onclick="storeScrollPosition();">Salveaza modificarile</button>
                                <a class="btn btn-danger" style="margin-left: 5px;" href="/Discussions/Show/@Model.Id">Anuleaza</a>
                            </div>
                        </form>
                    }
                    else @* Afiseaza comentariul *@
                    {
                        <small>@comment.Content</small>

                        <div class="d-flex justify-content-between align-items-center" style="font-size: 14px">
                            <div>
                                <small> - </small>
                                <small><i class="bi bi-person"></i>@comment.User.UserName</small>
                                <small>@comment.Date</small>
                            </div>
                            <div>
                                @if (comment.UserId == ViewBag.CurrentUser || ViewBag.IsAdmin)
                                {
                                    <a class="btn btn-sm btn-outline-primary" style="border: none; display: inline-block;" href="/Comments/Edit/@comment.Id" onclick="storeScrollPosition();"><i class="bi bi-pencil-square"></i></a>
                                    <form method="post" style="display: inline-block; text-align: right;" action="/Comments/Delete/@comment.Id">
                                        <button class="btn btn-sm btn-outline-danger" style="border: none; align-self: end;" type="submit"><i class="bi bi-trash"></i></button>
                                    </form>
                                }
                            </div>
                        </div>
                    }
                }

                @* Afisarea formularului in care se poate adauga un comentariu nou *@
                <hr style="margin-bottom: 5px; margin-top: 5px;" />
                <form method="post" action="/Discussions/AddComment/@answer.Id">
                    <input type="hidden" name="AnswerId" value="@answer.Id" />

                    <div class="d-flex">
                        <textarea class="form-control" name="Content" rows="1" placeholder="Adauga comentariul tau..." style="border: none;"></textarea>

                        <div>
                            <button class="btn btn-success" type="submit" onclick="storeScrollPosition();">Posteaza</button>
                        </div>
                    </div>
                </form>
                <hr style="margin-bottom: 5px; margin-top: 5px;" />
            </div>
        </div>
    </div>
    <hr style="margin-bottom: 50px; margin-top: 50px; height: 1px; background-color: #e7700d; opacity: 0.75;" />
}

@* Afisarea formularului in care se poate adauga un raspuns nou *@
<div class="container">
    <h4>Adauga raspunsul tau</h4>
    <form method="post" action="/Discussions/AddAnswer/@Model.Id">
        <input type="hidden" name="DiscussionId" value="@Model.Id" />

        <textarea class="summernote" name="Content"></textarea>
        <br />

        <button class="btn btn-success" type="submit" onclick="storeScrollPosition();">Posteaza raspunsul tau</button>
        <br />
    </form>

<form method="get" action="/Codespaces/New">
    <input type="hidden" name="discussionId" value="@Model.Id" />
    <input type="hidden" name="code" value="//This is the code editor"/>
    <input type="hidden" name="language" value="csharp" />
    <br />
    <button class="btn btn-success" type="submit" onclick="storeScrollPosition();">Posteaza codul tau</button>
</form>
</div>

